header {
    background-color: #FDE75F;
}
#main-page-layout {
    height: 100vh;
    width: 100vw;
    background-color: #B2D0F7;
    display: flex;
    flex-direction: column;
}
img {
    width: 100vw;
    height: 50%;
    max-width: 50vw;
    align-self: center;
}
@media only screen and (max-width: 600px) {
    img {
        max-width: 100%;
    }
}