.landingPageContainer {
    height: 100vh;
    background-color: #b2b0f7;  
}

.modeButton {
    height: 89px;
    width: 164px;
    background-color: #5476A0;  
    color: #ffffff;  
    font-size: 35px;
    margin-bottom: 30px;
    border: 1px solid white;
}  